.about-section {
    
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#feccb1+0,ea5507+51,fb955e+100 */
background: linear-gradient(to bottom,  #feccb1 0%,#ea5507 51%,#fb955e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}



.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 20px;
}
